body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #333;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 40px;
    margin-bottom: 20px;
}

form {
    margin-bottom: 40px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="date"], input[type="number"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    position: relative; /* Add position relative for positioning the toggle button */
}

.logs {
    list-style-type: none;
    padding-left: 20px;
    display: none; 
    margin-top: 10px;
}

.toggleButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
}

.toggleButton:hover {
    background-color: #2980b9 !important;
}

.logs li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 3px;
}
